{
  "region": [
    {
      "replicaInfo": [
        {
          "id": "1",
          "ip": "128.110.218.71",
          "port": 17001
        },
        {
          "id": "2",
          "ip": "128.110.218.61",
          "port": 17002
        },
        {
          "id": "3",
          "ip": "128.110.218.72",
          "port": 17003
        },
        {
          "id": "4",
          "ip": "128.110.218.77",
          "port": 17004
        }
      ]
    }
  ],
  "enableViewchange": false,
  "maxClientComplaintNum": 10
}